.error{
    position: absolute;
    background-color: var(--primary);
    width: 100vw;
    top: 0;
    left: 0;
}

.error p{
    font-size: 1rem;
    text-align: center;
    padding-top: .4rem;
    padding-bottom: .4rem;
}

/*new_report*/
#form__report__message {
    display: none;
}

#form__report__error {
    display: none;
}

.message{display: hidden;}
.show{display: block;}

/*pagination*/
.next_page{
    position: relative;
    bottom: 1rem;
}