* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary: #FCD7F7;
    --secondary: #BFFD00;
    --accent: #120CFF;
    --white: #FFFFFF;
    --black: #000000;


    --font-primary: ;
    --font-secondary: ;
}

body {
    background-color: var(--white);
}

h3{
    color: var(--accent);
}

/*profile_user page */
ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

input[type="checkbox"][id^="cb"] {
    display: none;
}
  
#label_cb {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#label_cb::before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

#label_cb img {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

#cb:checked+label {
    border-color: #ddd;
  }
  
#cb:checked+label::before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
  }
  
#cb:checked+label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
}

/* index page */
.nav__full {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem 1rem;
}

.nav__full div {
    width: 33%;
}

.nav__full a {
    text-decoration: none;
    color: var(--black);
}

.nav__full a:hover {
    color: var(--accent);
}

.nav__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.nav__info a {
    margin: 0 2rem;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo img {
    max-height: 4rem;
}

.nav__link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.nav__link a {
    border: 3px solid var(--black);
    padding: 0.5rem 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link a:hover {
    border: 3px solid var(--accent);
}

.nav__mobile {
    display: none;
}

.bkg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.bkg img {
    width: 50rem;
}

footer {
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer__info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__info img {
    width: 6rem;
    margin: 0.5rem 1rem 0.5rem 0.5rem;
}

.footer__socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-right: 2rem;
}

.footer__socials a {
    margin: 0 0.5rem;
}

.footer__socials img {
    width: 2rem;
}


/*profile user*/
.profile__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.profile__info__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile__info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.profile__info__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}

.profile__info__details div {
    display: flex;
    flex-direction: column;
}

/* posts */
.posts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 3rem;
    gap: 1rem;
}

.post{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr;
    justify-items: flex-start;
    align-items: flex-start;
    background-color: var(--primary);
}

.post img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 5px solid var(--secondary);
}

.post__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem;
    color: var(--black);
}

.post__info__tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 700;
    margin-top: 1rem;
}

.posts__user{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    justify-items: flex-start;
    align-items: center;
    margin-left: 1rem;
}

.posts__user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

main{
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.logo--register{
    background-image: url("./../assets/logo2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 220px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
}

.form--register{
    width: min(80vw, 600px);
    height: min(60vh, 400px);
    background-color: rgb(122, 37, 37);
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form__field{
    display: flex;
    flex-direction: column;
    width: 80%;
}

@media (max-width: 992px) and (min-width: 768px) {

    /* index page */
    .nav__full {
        margin: 1rem;
    }

    .nav__full div {
        width: fit-content;
    }

    .nav__link a {
        padding: 0.5rem;
        margin: 0.1rem;
    }

    .bkg {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .bkg img {
        width: 30rem;
    }

    footer {
        gap: 1rem;
    }
}

@media (max-width: 768px) and (min-width: 600px) {

    /* index page */
    .nav__full {
        display: none;
    }

    .nav__mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 0;
    }

    /* Start of hamburgermenu Styling*/
    .nav_mobile_menu {
        position: absolute;
        width: 100%;
        height: 70px;
        z-index: 3;
    }

    .nav_mobile_menu div {
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .nav_mobile_menu div a {
        display: block;
        padding: 0;
        text-decoration: none;
        margin: 1.2rem;
    }

    /* menu */
    .nav__link {
        clear: both;
        max-height: 0px;
        /* font-size: 22px; */
        /* top:30px; */
        margin-top: 10px;
        transition: max-height .5s ease-out;
        /* font-family: 'Space Grotesk'; */
    }

    .nav__link a {
        background-color: transparent;
        border: none;
        /* font-size: 22px; */
        /* font-family: 'Space Grotesk'; */
        margin-right: 10px;
        margin-top: 0;
        color: var(--accent);
    }

    .nav__link a:hover {
        border: none;
        border-bottom: 3px solid var(--accent);
    }

    /* menu icon */
    .menu-icon {
        cursor: pointer;
        display: inline-block;
        padding: 42px 30px;
        position: relative;
        user-select: none;
    }

    .navicon {
        display: block;
        height: 2px;
        position: relative;
        width: 25px;
    }

    .navicon:before,
    .navicon:after {
        background: var(--accent);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .navicon:after {
        top: -5px;
    }

    /* menu btn */
    .menu-btn {
        display: none;
    }

    .menu-btn:checked~.nav__link {
        max-height: 340px;
        background-color: var(--white);
        height: 100vh;
    }

    .menu-btn:checked~.menu-icon .navicon {
        background: transparent;
    }

    .menu-btn:checked~.menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .menu-btn:checked~.menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
    .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
        top: 0;
    }

    .nav__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 1rem;
    }

    .nav__logo img {
        max-height: 4rem;
    }

    .bkg {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .bkg img {
        width: 30rem;
    }

    footer {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        padding: 3rem;
    }

    .footer__info {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
    }
}

@media (max-width: 600px) {

    /* index page */
    .nav__full {
        display: none;
    }

    .nav__mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 0;
    }

    /* Start of hamburgermenu Styling*/
    .nav_mobile_menu {
        position: absolute;
        width: 100%;
        height: 70px;
        z-index: 3;
    }

    .nav_mobile_menu div {
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .nav_mobile_menu div a {
        display: block;
        padding: 0;
        text-decoration: none;
        margin: 1.2rem;
    }

    /* menu */
    .nav__link {
        clear: both;
        max-height: 0px;
        /* font-size: 22px; */
        /* top:30px; */
        margin-top: 10px;
        transition: max-height .5s ease-out;
        /* font-family: 'Space Grotesk'; */
    }

    .nav__link a {
        background-color: transparent;
        border: none;
        /* font-size: 22px; */
        /* font-family: 'Space Grotesk'; */
        margin-right: 10px;
        margin-top: 0;
        color: var(--accent);
    }

    .nav__link a:hover {
        border: none;
        border-bottom: 3px solid var(--accent);
    }

    /* menu icon */
    .menu-icon {
        cursor: pointer;
        display: inline-block;
        padding: 42px 30px;
        position: relative;
        user-select: none;
    }

    .navicon {
        display: block;
        height: 2px;
        position: relative;
        width: 25px;
    }

    .navicon:before,
    .navicon:after {
        background: var(--accent);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .navicon:after {
        top: -5px;
    }

    /* menu btn */
    .menu-btn {
        display: none;
    }

    .menu-btn:checked~.nav__link {
        max-height: 340px;
        background-color: var(--white);
        height: 100vh;
    }

    .menu-btn:checked~.menu-icon .navicon {
        background: transparent;
    }

    .menu-btn:checked~.menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .menu-btn:checked~.menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
    .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
        top: 0;
    }

    .nav__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 1rem;
    }

    .nav__logo img {
        max-height: 2rem;
    }

    .bkg {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .bkg img {
        width: 100%;
    }

    footer {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        padding: 3rem;
    }

    .footer__info {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
    }
}