.nav--right a {
    border: 3px solid $black;
    padding: 0.5rem 1rem;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
        border: 3px solid $accent;
    }
}

.nav--full a {
    text-decoration: none;
    color: $black;

    &:hover {
        color: $accent;
    }
}

.nav--left a {
    margin: 0 2rem;
}

.btn{
    font-size: $font-size-xxs;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    background-color: $white;    
    font-family: museo-sans, sans-serif;
}

.primary__btn{
    border: 3px solid $black;
    padding: 0.4rem 0.6rem;
    color: $black;
    // margin: 0 2rem;

    &:hover{
        border: 3px solid $accent;
        color: $accent;
    }
}

.secondary__btn{
    border: 3px solid $black;
    padding: 0.4rem 0.6rem;
    color: $secondary;
    border-radius: 20px;
    background-color: $black;
    // margin: 0 2rem;

    &:hover{
        border: 3px solid $black;
        color: $black;
        background-color: $white;
    }
}

.secondary__btn-signup{    
    width: 100%;
    margin-bottom: 1rem;
}

.secondary__btn-reverse{
    border: 3px solid $secondary;
    padding: 0.4rem 0.6rem;
    color: $black;
    border-radius: 20px;
    background-color: $secondary;
    text-align: center;

    &:hover{
        border: 3px solid $secondary;
        color: $secondary;
        background-color: $black;
    }
}

.moderator__btn {
    background-color: $lighterWhite;
    border: 3px solid $accent;
    // border-radius: 0.5rem;
    padding: 0.4rem 0.6rem;
    color: $accent;

    &:hover {
        background-color: $accent;
        // border-color: $primary;
        color: $lighterWhite;
        // padding: 0.5rem 0.7rem;
        cursor: pointer;
    }
}

.page__btn{
    border: 3px solid $accent;
    padding: 0.4rem 0.6rem;
    color: $accent;
    // margin: 0 2rem;

    &:hover{
        border: 3px solid $primary;
        color: $primary;
    }
}

@media (max-width: 1180px) and (min-width: 950px) {
    .nav--right a {
        padding: 0.5rem;
        margin: 0.1rem;
        
    }
}

@media (max-width: 850px) and (min-width: 600px) {
    .nav--right a {
        background-color: transparent;
        border: none;
        margin-right: 10px;
        margin-top: 0;
        color: $accent;

        &:hover {
            border: none;
            border-bottom: 3px solid $accent;
        }
    }
}

@media (max-width: 600px) {
    .nav--right a {
        background-color: transparent;
        border: none;
        margin-right: 10px;
        margin-top: 0;
        color: $accent;

        &:hover {
            border: none;
            border-bottom: 3px solid $accent;
        }
    }
}