.showcase__title{
    display: flex;
    justify-content: center;
    text-align: center;
}

.showcase__empty{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.showcase__title-h2{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.showcase__empty-message{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 600px) {
    .showcase__empty-message{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
    }
}