.profile__info__followers {
 
    font-size: $font-size-xxs;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.4rem 0.6rem;
    text-align: center;
    background-color: $white;
}

