footer {
    background-color: $secondary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* position: absolute;
    bottom: 0; */
    width: 100%;
}

.footer__info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__info img {
    width: 6rem;
    margin: 0.5rem 1rem 0.5rem 0.5rem;
}

.footer__socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-right: 2rem;
}

.footer__socials a {
    margin: 0 0.5rem;
}

.footer__socials img {
    width: 2rem;
}

@media (max-width: 1116px) and (min-width: 768px) {
    footer {
        gap: 1rem;
    }
}

@media (max-width: 768px) and (min-width: 600px) {
    footer {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        padding: 3rem;
    }

    .footer__info {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
    }
}

@media (max-width: 600px) {
    footer {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        padding: 3rem;
    }

    .footer__info {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
    }
}