footer {
    background-color: $secondary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    position: relative;
    gap: 2rem;
}

@media (max-height: 768px) {
    footer{
        bottom: 0;
        position: inherit;
    }
}

.footer__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.footer__info img {
    width: 6rem;
    margin: 0.5rem 1rem 0.5rem 0.5rem;
}

.footer__socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-right: 2rem;
}

.footer__socials a {
    margin: 0 0.5rem;
}

.footer__socials img {
    width: 2rem;

    &:hover{
        filter: invert(14%) sepia(62%) saturate(7482%) hue-rotate(246deg) brightness(87%) contrast(138%);
    }
}

@media (max-width: 1116px) and (min-width: 768px) {
    footer {
        gap: 3rem;
    }
    @media (max-height: 768px) {
        footer{
            bottom: 0;
            position: inherit;
        }
    }
}

@media (max-width: 768px) and (min-width: 600px) {
    footer {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding: 3rem;
        bottom: 0;
        position: inherit;
    }

    .footer__info {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
    }
}

@media (max-width: 600px) {
    footer {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        padding: 3rem;
        bottom: 0;
        position: inherit;
    }

    .footer__info {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
    }
}