.profile__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 5rem;
    padding: 2rem 0 4rem 0;

    border-bottom: 1.5px solid $lightergrey;
}

.profile__info__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile__info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.profile__info__block{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
}

.profile__info__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}

.profile__info__details__username {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

#profile__verified{
    height: 1.5rem;
    padding-left: 1rem;
    border-radius: 0;
    width: 100%;
    object-fit: contain;
}

.profile__info__btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.profile__info__moderator{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.profile__info-socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.3rem;

    img{
        width: 30px;
        height: 30px;
        border-radius: 0;
        object-fit: contain;

        &:hover{
            filter:invert(77%) sepia(85%) saturate(607%) hue-rotate(19deg) brightness(103%) contrast(103%);
        }
    }
}

.follow p, .unfollow p{
    font-weight: $font-weight-bold;
    font-size: $font-size-xxs;

    &:hover{
        color: $accent;
        text-decoration: underline double $accent;
    }
}


@media (max-width: 768px) and (min-width: 600px) {
    .profile__info__btn{
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .profile__info {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 3rem;
    }
}

@media (max-width: 600px) {
    .profile__info__btn{
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .profile__info {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 3rem;
    }
}