.mod__ban{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.mod__title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    text-align: center;
}