.reports__post__img {
    width: 200px;
    height: 200px;
    padding-right: 1rem;
    object-fit: cover;

}

.reports__user__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 0.5rem;

}

.userreport a {
    margin-right: 1rem;
    font-weight: bold;
    
}

.reports {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.report {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: flex-start;
    padding: 2rem 1rem;
    width: 100%;
    border-bottom: solid 1px var(--black);
    gap: 1rem;
    border-bottom: 2px solid $white;
    
    &:last-child {        
        border-bottom: none;
    }
}

.report__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p {
        padding-bottom: 1rem;

    }
}

.reports__user__username {
    font-size: 1.2rem;
    
}

#reason {
    width: calc(max(46vw, 40px))
}

@media (max-width: 992px){
    .report{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: flex-start;
    }
}