@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #FCD7F7;
  --secondary: #BFFD00;
  --accent: #120CFF;
  --white: #fafafa;
  --lighterWhite: #ffffff;
  --black: #000000;
  --grey: rgb(102, 101, 101);
  --lightgrey: #a4a3a3;
  --lightergrey: #d5d5d5;
  --font-weight-thin: 300;
  --font-weight-bold: 700;
  --font-weight-extrabold: 900;
  --font-size-xxs: 1rem;
  /*16*/
  --font-size-xs: 1.3rem;
  /*20*/
  --font-size-sm: 1.5rem;
  /*24*/
  --font-size-md: 1.8rem;
  /*28*/
  --font-size-lg: 2rem;
  /*32*/
  --font-size-xl: 2.8rem;
  /*46*/
  --font-size-xxl: 3.5rem;
  /*56*/
}

body {
  background-color: var(--white);
  font-family: museo-sans, sans-serif;
  font-style: normal;
}

h1 {
  color: var(--accent);
  font-weight: var(--font-weight-extrabold);
  font-size: var(--font-size-xxl);
}

h2 {
  color: var(--accent);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-md);
}

h3 {
  color: var(--accent);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xs);
}

h4 {
  color: var(--accent);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xxs);
}

.hidden {
  display: none;
}

.nav--full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 1rem;
}

.nav--full div {
  width: 33%;
}

.nav--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nav--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav--center img {
  max-height: 6rem;
}

.nav--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nav--mobile {
  display: none;
}

@media (max-width: 1116px) and (min-width: 768px) {
  .nav--full {
    margin: 1rem;
  }
  .nav--full div {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (max-width: 768px) and (min-width: 600px) {
  .nav--full {
    display: none;
  }
  .nav--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem 0;
  }
  /* Start of hamburgermenu Styling*/
  .nav--mobile_menu {
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 3;
  }
  .nav--mobile_menu div {
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav--mobile_menu div a {
    display: block;
    padding: 0;
    text-decoration: none;
    margin: 1.2rem;
  }
  /* menu */
  .nav--right {
    clear: both;
    max-height: 0px;
    /* font-size: 22px; */
    /* top:30px; */
    -webkit-transition: max-height .5s ease-out;
    transition: max-height .5s ease-out;
    /* font-family: 'Space Grotesk'; */
  }
  /* menu icon */
  .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 38px 30px;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: absolute;
    right: 30px;
  }
  .navicon {
    display: block;
    height: 2px;
    position: relative;
    width: 25px;
  }
  .navicon:before,
  .navicon:after {
    background: var(--accent);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    width: 100%;
  }
  .navicon:after {
    top: -5px;
  }
  /* menu btn */
  .menu-btn {
    display: none;
  }
  .menu-btn:checked ~ .nav--right {
    max-height: 340px;
    background-color: var(--white);
    height: 100vh;
  }
  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .menu-btn:checked ~ .menu-icon .navicon:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-btn:checked ~ .menu-icon .navicon:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  .nav--center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 0 1rem;
  }
  .nav--center img {
    max-height: 4rem;
  }
}

@media (max-width: 600px) {
  .nav--full {
    display: none;
  }
  .nav--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem 0;
  }
  /* Start of hamburgermenu Styling*/
  .nav--mobile_menu {
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 3;
  }
  .nav--mobile_menu div {
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav--mobile_menu div a {
    display: block;
    padding: 0;
    text-decoration: none;
    margin: 1.2rem;
  }
  /* menu */
  .nav--right {
    clear: both;
    max-height: 0px;
    /* font-size: 22px; */
    /* top:30px; */
    margin-top: 10px;
    -webkit-transition: max-height .5s ease-out;
    transition: max-height .5s ease-out;
    /* font-family: 'Space Grotesk'; */
  }
  /* menu icon */
  .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 42px 30px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: absolute;
    right: 30px;
  }
  .navicon {
    display: block;
    height: 2px;
    position: relative;
    width: 25px;
  }
  .navicon:before,
  .navicon:after {
    background: var(--accent);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    width: 100%;
  }
  .navicon:after {
    top: -5px;
  }
  /* menu btn */
  .menu-btn {
    display: none;
  }
  .menu-btn:checked ~ .nav--right {
    max-height: 340px;
    background-color: var(--white);
    height: 100vh;
  }
  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .menu-btn:checked ~ .menu-icon .navicon:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-btn:checked ~ .menu-icon .navicon:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  .nav--center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 0 1rem;
    z-index: 4;
  }
  .nav--center img {
    max-height: 2rem;
  }
}

footer {
  background-color: var(--secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  /* position: absolute;
    bottom: 0; */
  width: 100%;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__info img {
  width: 6rem;
  margin: 0.5rem 1rem 0.5rem 0.5rem;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 2rem;
}

.footer__socials a {
  margin: 0 0.5rem;
}

.footer__socials img {
  width: 2rem;
}

@media (max-width: 1116px) and (min-width: 768px) {
  footer {
    gap: 1rem;
  }
}

@media (max-width: 768px) and (min-width: 600px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
    padding: 3rem;
  }
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
}

@media (max-width: 600px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
    padding: 3rem;
  }
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
}

.banner {
  background-color: var(--primary);
  margin-top: 3.5rem;
  /* width: 100vw; */
  overflow: hidden;
}

.banner__loop {
  width: 100%;
  padding: 4rem 0;
  margin: 0 auto;
  white-space: nowrap;
  font-weight: 300;
}

.banner__loop__text {
  display: inline-block;
  -webkit-animation: scrolling-left1 20s linear infinite;
  animation: scrolling-left1 20s linear infinite;
  /* position: relative;
    right: -3.5rem; */
}

.banner__loop__text2 {
  display: inline-block;
  -webkit-animation: scrolling-left2 20s linear infinite;
  animation: scrolling-left2 20s linear infinite;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  /* position: relative;
    right: -3.5rem; */
}

@keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scrolling-left2 {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
  }
}

@-webkit-keyframes scrolling-left1 {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@-webkit-keyframes scrolling-left2 {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-200%);
  }
}

/* index page */
.bkg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.bkg img {
  width: 50rem;
}

@media (max-width: 1116px) and (min-width: 768px) {
  /* index page */
  .bkg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem;
  }
  .bkg img {
    width: 30rem;
  }
}

@media (max-width: 768px) and (min-width: 600px) {
  /* index page */
  .bkg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem;
  }
  .bkg img {
    width: 30rem;
  }
}

@media (max-width: 600px) {
  /* index page */
  .bkg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem;
  }
  .bkg img {
    width: 100%;
  }
}

.nav--right a {
  border: 3px solid var(--black);
  padding: 0.5rem 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.nav--right a:hover {
  border: 3px solid var(--accent);
}

.nav--full a {
  text-decoration: none;
  color: var(--black);
}

.nav--full a:hover {
  color: var(--accent);
}

.nav--left a {
  margin: 0 2rem;
}

.btn {
  font-size: var(--font-size-xxs);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.primary__btn {
  border: 3px solid var(--black);
  padding: 0.5rem 1rem;
  color: var(--black);
}

.primary__btn:hover {
  border: 3px solid var(--accent);
  color: var(--accent);
}

.secondary__btn {
  border: 3px solid var(--black);
  padding: 0.5rem 1rem;
  color: var(--secondary);
  border-radius: 20px;
  background-color: var(--black);
}

.secondary__btn:hover {
  border: 3px solid var(--black);
  color: var(--black);
  background-color: var(--white);
}

.secondary__btn-signup {
  width: 38vw;
  margin-bottom: 1rem;
}

.secondary__btn-reverse {
  border: 3px solid var(--secondary);
  padding: 0.5rem 1rem;
  color: var(--black);
  border-radius: 20px;
  background-color: var(--secondary);
  text-align: center;
}

.secondary__btn-reverse:hover {
  border: 3px solid var(--secondary);
  color: var(--secondary);
  background-color: var(--black);
}

@media (max-width: 1116px) and (min-width: 768px) {
  .nav--right a {
    padding: 0.5rem;
    margin: 0.1rem;
  }
}

@media (max-width: 768px) and (min-width: 600px) {
  .nav--right a {
    background-color: transparent;
    border: none;
    /* font-size: 22px; */
    /* font-family: 'Space Grotesk'; */
    margin-right: 10px;
    margin-top: 0;
    color: var(--accent);
  }
  .nav--right a:hover {
    border: none;
    border-bottom: 3px solid var(--accent);
  }
}

@media (max-width: 600px) {
  .nav--right a {
    background-color: transparent;
    border: none;
    /* font-size: 22px; */
    /* font-family: 'Space Grotesk'; */
    margin-right: 10px;
    margin-top: 0;
    color: var(--accent);
  }
  .nav--right a:hover {
    border: none;
    border-bottom: 3px solid var(--accent);
  }
}

.profile__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.profile__info__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__info img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.profile__info__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5rem;
}

.profile__info__details button {
  margin-left: 1rem;
  background-color: var(--lighterWhite);
  border-color: var(--accent);
  border-width: 2px;
  border-radius: 0.5rem;
  padding: 0.4rem 0.6rem;
  font-size: large;
}

.profile__info__details button:hover {
  background-color: var(--lighterWhite);
  padding: 0.5rem 0.7rem;
  margin-left: 0.9rem;
  cursor: pointer;
}

.profile__info__details__username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#profile__verified {
  height: 1.5rem;
  padding-left: 1rem;
  border-radius: 0;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.profile__info__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

@media (max-width: 768px) and (min-width: 600px) {
  .profile__info__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0.5rem;
  }
}

@media (max-width: 600px) {
  .profile__info__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0.5rem;
  }
}

.posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr; */
  margin: 3rem;
  gap: 2rem;
}

.posts__bkg {
  background-color: var(--primary);
}

.post {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 410px;
      grid-template-rows: 410px;
  justify-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: var(--primary);
  position: relative;
}

.post--index {
  margin-top: 2rem;
}

.post__actions {
  /* position: absolute;
    top: 420px;
    right: 20px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post img {
  width: 100%;
  height: 400px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  /* border: 5px solid var(--secondary); */
}

.post__img {
  width: 100%;
  height: 410px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid var(--secondary);
  z-index: 0;
}

#post__img-showcase {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 84%;
  top: 1%;
  z-index: 5;
  -o-object-fit: contain;
     object-fit: contain;
}

.post img.trash_icon {
  width: unset;
  height: 30px;
  -o-object-fit: unset;
     object-fit: unset;
  border: unset;
}

.post img.trash_icon:hover {
  -webkit-filter: invert(0.5) sepia(1) saturate(40) hue-rotate(690deg);
          filter: invert(0.5) sepia(1) saturate(40) hue-rotate(690deg);
}

.post img.edit_icon {
  width: 100%;
  height: 30px;
  -o-object-fit: unset;
     object-fit: unset;
  border: unset;
}

.post img.edit_icon:hover {
  -webkit-filter: invert(0.5) sepia(1) saturate(81) hue-rotate(203deg);
          filter: invert(0.5) sepia(1) saturate(81) hue-rotate(203deg);
}

.post__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0.5rem 2rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.post__link {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.post__link.post_title:hover {
  border-bottom: 3px solid var(--accent);
}

.post__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1rem;
  color: var(--black);
}

.post__info__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 0;
}

.post__info__tags p {
  font-weight: var(--font-weight-bold);
}

.posts__user {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 1rem 0.5rem 1rem;
}

.posts__user__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.posts__user__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.posts__user__verified {
  width: 1.5rem;
  padding-left: 0.5rem;
}

.posts__user__name {
  text-decoration: none;
}

.like,
.liked,
.follow,
.unfollow,
.hearts,
.heartsfull {
  cursor: pointer;
}

@media (max-width: 1116px) and (min-width: 768px) {
  .posts {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) and (min-width: 600px) {
  .posts {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .posts {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.post--single {
  margin: 5% 27%;
}

.post--single__content img {
  height: 100%;
}

.post--single__content {
  display: block;
  padding-bottom: 1rem;
}

.post__comment {
  padding: 2rem;
  background-color: var(--lighterWhite);
}

.post__comment__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.post__comment__list img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.post__comment__list li {
  padding-top: 2rem;
  border-bottom: var(--grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__comment__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post__comment__form img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post__comment__form__input {
  width: 80%;
  height: 1rem;
  text-align: start;
  padding: 1rem;
  padding-top: 1.2rem;
  border-color: var(--grey);
  border-width: 1.5px;
  border-radius: 8px;
}

.post__comment__form__btn {
  background-color: var(--accent);
  color: var(--white);
  border-radius: 8px;
  padding: .5rem;
  text-decoration: none;
}

.post__comment__form__btn:hover {
  text-decoration: underline;
}

.showcase__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.showcase__empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.showcase__title-h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

.showcase__empty-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

@media (max-width: 600px) {
  .showcase__empty-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    margin-top: 2rem;
  }
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

/*profile_user*/
input[type="checkbox"][id^="cb"] {
  display: none;
}

#label_cb {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#label_cb::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#label_cb img {
  height: 100px;
  width: 100px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

#cb:checked + label {
  border-color: #ddd;
}

#cb:checked + label::before {
  content: "✓";
  background-color: grey;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#cb:checked + label img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0 0 5px #333;
          box-shadow: 0 0 5px #333;
  z-index: -1;
}

/*register*/
main {
  width: 100%;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo--register {
  background-image: url("./../assets/logo2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 220px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
}

.form--register {
  width: 50vw;
  height: 80vh;
  background-color: var(--lightergrey);
  border-radius: 5px;
  margin: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.form--register h2 {
  color: var(--black);
  text-align: start;
  width: 38vw;
  margin-top: 1rem;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.form-control {
  border-radius: 5px;
  border: 1.5px solid var(--lightgrey);
  height: 2rem;
}

.form-text {
  font-size: 0.8rem;
  color: var(--grey);
}

.form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */